body{
  margin: 0px;
  text-align: center;
  font-family: verdana,sans-serif;
}


div{
  /* background-color: #3A6351; */
}

h1{
  padding: 10 0 1 0;
  margin: 0 auto 0 auto;
  font-family: verdana,sans-serif;
}
h3{
  padding: 0;
  margin :5 0 15;
  font-family: 'Charm', cursive;
}

.topleft-cloud{
  position: absolute;
  left:350px;
  top:75px;
  width: 10%;
}

.topright-cloud{
  position: absolute;
  right:300px;
  top:140px;
  /* margin-left: 800px;
  margin-right: auto; */
  width: 10%;
}

.bottomleft-cloud{
  /* margin-bottom: 100px;
  margin-left: 80px;
  width: 10%; */
  position: absolute;
  left: 150px;
  bottom: 300px;
  width: 12%;
}

.bottomright-cloud{
  position: absolute;
  right: 200px;
  bottom: 200px;
  width: 11%;
}

.mountain1{
  /* margin-left: 150px;
  margin-right: 100px; */
  width: 50%;
}
.top-container{
  background-color: #7895B2;
  padding-top: 155px;
  position: relative;
}

.example-div{
height: 350px;
width: 83%;
background-color: #3A6351;
border-width: 5px;
border-top: 0px;
padding: 20px;
}

.middle-container{
height: 200px;
width: 200px;
background-color: blue;
}

.bottom-container{
  height: 200px;
  width: 200px;
  background-color: red;
}

.NavBar1{
  width: 100%;
  background-color: #9D9D9D;
  position: fixed;
  z-index: +1;
}
