h1{
  color: red;
  font-size: 50px
}
img{
  background-color: red;
  height: 150px;
  width: 150px;
}
img:hover{
  background-color: gold;
}

/* Class Selecter */
.bacon {
  border-radius: 50px;
  background-color: red;
}
.broccoli{
  border-style: dotted;
  border-width: 10px;
  background-color: green;
}
.sandwich{
  background-color: pink;
  border-radius: 80px;
}

/* ID selecter */
#heading {
  color: blue;
  font-size: 80px;

}
#heading2{
  color: green;
}
